venv/
env/
.venv/
old_weights/
data/glove.6B.300d.txt
data/quickdraw_data/
data/tu_berlin_data/
data/canvas_bbox.json
__pycache__/
*.py[cod]
*$py.class
.DS_Store
.git/
*.tmp
*.log
ui/
training/
scripts/
.gitignore
